.vscode/settings.json
.vscode
.vscode/
node_modules
*.bak
.cache
src/dist/
*.log
debug.log
*.log
/dist/
.now
#yarn.lock
package-lock.json

.vercel
*.zip
.yarn/install-state.gz
pnpm-lock.yaml
yarn.lock

# Local Netlify folder
.netlify
netlify/edge-functions/getrss[name].js
netlify/edge-functions/getmarkdown[name].js
netlify/edge-functions/getmarkdown\[name\].js
netlify/edge-functions/getrss\[name\].js
netlify/edge-functions/getmarkdown\[name\].js.map
netlify/edge-functions/getrss\[name\].js.map
api/getmarkdown/\[name\].js
api/getmarkdown/\[name\].js.map
api/getrss/\[name\].js
api/getrss/\[name\].js.map
api/getmarkdown\[name\].js
api/getmarkdown\[name\].js.map
api/getrss\[name\].js
api/getrss\[name\].js.map
.vercel
middleware.js
api/middleware.js.map

middleware.js
middleware.js.map
api/get.js.map
vercel/dist/get.js
vercel/dist/get.js.map
checks.json
*.lock
