#my导航栏 {
    overflow: auto;
    max-height: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  body {
    /* padding: 20px; */
  }

  body,
  * {
    text-align: center;
    /* font-family: monospace; */
    /* font-size: 14px; */
    /* line-height: 1.4em; */
  }

  h1 {
    font-weight: 300;
    font-size: 40px;
  }

  /* h2 {
  width: 90px;
  text-align: right;
  padding: 50px 5px 5px;
  background: #F0DB4E;
  color: #323230;
  font-weight: bold;
  font-size: 20px;
  line-height: 1em;
} */
  h3 {
    font-weight: bold;
  }

  p,
  li,
  textarea,
  .actions {
    width: 100%;
    /* max-width: 600px; */
  }

  textarea {
    border-color: black;
    display: block;
    min-height: 250px;
    margin: 1em 0;
  }

  ul.pre li {
    white-space: pre;
  }

  .checkbox {
    display: inline-block;
  }

  .actions a {
    float: right;
  }

  .actions {
    clear: both;
  }