/* <link href="huami.css" rel="stylesheet" /> */
@import "./huami.css";

/* <link href="../myfontandtextalign.css" rel="stylesheet" /> */
@import "../myfontandtextalign.css";

/* <link href="about.css" rel="stylesheet" /> */
@import "./about.css";

/* <link href="about-rotate.css" rel="stylesheet" /> */
@import "./about-rotate.css";
/* <link href="app.css" rel="stylesheet" /> */
@import "./app.css";

/* <link href="huami-fp.css" rel="stylesheet" /> */
@import "./huami-fp.less";
/* 2019年6月20日 18:08:53 */
* {
  -webkit-user-select: text !important;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text !important;
}
body {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
* {
  font-family: "Microsoft Yahei", Helvetica, Tahoma, Arial, "PingFang SC",
    "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", "WenQuanYi Micro Hei",
    sans-serif !important;
}
