* {
  font-family: "Microsoft Yahei,PingFangSC-Regular,arial, verdana, sans-serif";
  text-align: center;
}
#my导航栏 {
  overflow: auto;
  max-height: 100%;
  padding-right: 0;
  padding-left: 0;
}
* {
  text-align: center;
}
body {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
