/* <link href="myfontandtextalign.css" rel="stylesheet" /> */
@import "./myfontandtextalign.css";
#图片列表200 img {
  min-height: 150px;
  min-width: 150px;
  height: auto;

  width: auto;

  max-width: 100%;

  max-height: 200px;
}
#my导航栏 .navbar-nav li a {
  margin-left: 2px;
  margin-right: 2px;
}
@import "./my-react-router-test/react-index-render.css";
/* 2019年6月20日 00:14:36 把index.html中的style的css放到这里*/
* {
  font-family: "Microsoft Yahei", Helvetica, Tahoma, Arial, "PingFang SC",
    "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", "WenQuanYi Micro Hei",
    sans-serif !important;
}
* {
  -webkit-user-select: text !important;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text !important;
}
